<!-- templates/partials/footer.html -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/static/img/logo.svg" alt="SquidCoder.dev" class="logo-image-small">
                <span>SquidCoder.dev</span>
            </div>

            <div class="footer-links">
                <!--   <div class="footer-section">
                    <h3>Ferramentas</h3>
                    <ul>
                        {{range .Tools}}
                        <li><a href="{{.Route}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div> -->

                <div class="footer-section">
                    <ul>
                        <li><a href="/tools">Ferramentas</a></li>
                        <li><a href="mailto:squidcoder@squidcoder.com">@Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>&copy; 2025 SquidCoder.dev - Todas as ferramentas são gratuitas para uso.</p>
        </div>
    </div>
</footer>